# ==================================================
# AutoStartup AI — Environment Configuration
# ==================================================

# Get your FREE API key from: https://console.groq.com
GROQ_API_KEY=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
# Optional: Change this to any port you want
PORT=8000
